<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
    <form action="/auth/change_password/{{token}}" method="POST">
        <p>Изменение пароля для аккаутна {{ email }}</p>
        <p>
            <input type='text' placeholder="Password" name="password1">
            <br>
            <br>
            <input type='text' placeholder="Password (retry)" name="password2">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>