Привет, {{username}}.

Пожалуйста, подтвердите Ваш аккаунт пройдя по ссылке:
{{confirm_url}}

После подтверждения, Вы будете иметь полный доступ к сервису.
Последующие уведомления будут отправляться на этот адрес электронной почты.